language: node_js

node_js:
  - "10"

install:
  - yarn install
  - yarn build

deploy:
  local_dir: dist
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master

script: echo "done"