@font-face {
  font-family: 'VictorMono';
  font-style: normal;
  src: url('assets/VictorMono-Regular.eot');
  src: url('assets/VictorMono-Regular.eot?#iefix') format('embedded-opentype'), url('assets/VictorMono-Regular.woff') format('woff'), url('assets/VictorMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'VictorMono';
  font-style: italic;
  src: url('assets/VictorMono-Italic.eot');
  src: url('assets/VictorMono-Italic.eot?#iefix') format('embedded-opentype'), url('assets/VictorMono-Italic.woff') format('woff'), url('assets/VictorMono-Italic.ttf') format('truetype');
}

:root {
  --background-color-base: #696969;
  --color-text-primary: #fff;
}

html,
* {
  font-family: 'VictorMono', monospace;
}

html {
  color: var(--color-text-primary);
  background: var(--background-color-base);
  transition: color 1s, background 1s;
}

a {
  transition: color 1s;
}

body {
  margin: 0;
}

p {
  padding-bottom: 10px;
  font-size: calc(1rem + 0.25vw);
  line-height: calc(2rem + 0.5vw);
  &.columns {
    column-count: 2;
    column-width: 18em;
    column-gap: 75px;
  }
}

.full-width {
  width: 100%;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}

.caption {
  margin-top: 5px;
  font-size: 0.75em;
  font-style: italic;
  color: #aaa;
  a {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
    transition: color 0.5s, border-color 0.5s;
    &:hover {
      color: #ccc;
      border-bottom: 1px dotted #ccc;
    }
  }
}
