@font-face {
  font-family: 'VictorMono';
  font-style: normal;
  src: url('assets/VictorMono-Regular.eot');
  src: url('assets/VictorMono-Regular.eot?#iefix') format('embedded-opentype'), url('assets/VictorMono-Regular.woff') format('woff'), url('assets/VictorMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'VictorMono';
  font-style: italic;
  src: url('assets/VictorMono-Italic.eot');
  src: url('assets/VictorMono-Italic.eot?#iefix') format('embedded-opentype'), url('assets/VictorMono-Italic.woff') format('woff'), url('assets/VictorMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'VictorMono-Oblique';
  font-style: oblique;
  src: url('assets/VictorMono-Oblique.eot');
  src: url('assets/VictorMono-Oblique.eot?#iefix') format('embedded-opentype'), url('assets/VictorMono-Oblique.woff') format('woff'), url('assets/VictorMono-Oblique.ttf') format('truetype');
}

:root {
  --background-color-base: #2a2a2a;
  --background-color-alternate: #333;
  --color-text-primary: #eee;
  --color-text-accented: #0bf;
}

$background-dark: #222;
$background-light: #fff;

html,
* {
  font-family: 'VictorMono', monospace;
}

html {
  color: var(--color-text-primary);
  background: var(--background-color-base);
  transition: color 1s, background 1s;
}

a {
  color: var(--color-text-primary);
  transition: color 1s;
}

svg {
  fill: var(--color-text-primary);
  transition: fill 1s;
}

body {
  padding: 0;
  margin: 0;
}

.negative-margins {
  margin: 0 -10px;
}

p {
  padding-bottom: 20px;
  font-size: calc(1rem + 0.5vw);
  line-height: calc(2rem + 1vw);
  &.columns {
    column-count: 2;
    column-width: 18em;
    column-gap: 75px;
    &.narrow {
      column-count: 12;
      column-width: 8em;
      column-gap: 25px;
    }
  }
  &.small {
    font-size: calc(0.8rem + 0.2vw);
    line-height: calc(1.75rem + 0.2vw);
  }
  &.extra-small {
    font-size: calc(0.6rem + 0.2vw);
    line-height: calc(1rem + 0.2vw);
  }
}

.el-button {
  font-size: 1.1em;
  color: var(--text-color);
  background: rgba($background-dark, 0.25);
  border-color: var(--text-color);
  border-width: 2px;
  transition-duration: 1s;
  &.el-button--success {
    border-color: rgba(50, 255, 50, 1);
  }
  &:hover {
    color: var(--text-color);
    background: rgba($background-dark, 1);
    border-color: var(--text-color);
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.25s;
    transform: scale(1.1);
    &.el-button--success {
      background: linear-gradient(to bottom right, rgba(0, 170, 0, 1), rgba(0, 160, 207, 1));
      border-color: var(--text-color);
    }
  }
  &.double-line {
    padding: 8px 14px;
    em {
      font-size: 0.75em;
      line-height: 0.6em;
    }
  }
  &.normal {
    position: relative;
    top: -5px;
    display: inline;
    padding: 0.5em;
    font-size: 0.5em;
    line-height: 0.5em;
  }
}

[data-theme=light] {
  .el-button {
    background: rgba($background-light, 0.25);
    &.el-button--success {
      border-color: rgba(0, 170, 0, 1);
    }
    &:hover {
      background: rgba($background-light, 1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      &.el-button--success {
        background: linear-gradient(to bottom right, rgba(50, 255, 50, 1), rgba(50, 225, 255, 1));
        border-color: var(--text-color);
      }
    }
  }
  .octocat {
    filter: invert(100%);
    transition: -webkit-filter 1s;
  }
  .code-segment {
    background: #f2f2f2;
  }
}

.alternate-bg {
  background: var(--background-color-alternate);
  transition: background 1s;
}

.no-ligatures {
  font-feature-settings: 'calt' 0;
}

.full-width {
  width: 100%;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}

.caption {
  margin: 5px 10px;
  font-size: 0.75em;
  font-style: italic;
  color: #aaa;
  a {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
    transition: color 0.5s, border-color 0.5s;
    &:hover {
      color: #ccc;
      border-bottom: 1px dotted #ccc;
    }
  }
}

.icon {
  margin: 0 10px;
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 15px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.scroll-head {
  position: absolute;
  margin-top: -3vw;
}

h1 {
  font-weight: normal;
}

.ligature-samples {
  display: grid;
}

.crossfade {
  grid-row: 1;
  grid-column: 1;
  transition: opacity 1s;
}

.hidden {
  opacity: 0;
}

.medal {
  width: 100%;
  max-width: 150px;
}

h2 {
  font-weight: 400;
  line-height: 1.6em;
  .small {
    font-size: 0.5em;
    line-height: 1em;
  }
}

.content {
  padding: 40px 10px 80px 10px;
  &.initial {
    padding-top: 6vw;
  }
  h1 {
    padding-top: 20px;
  }
}

.gold {
  .supporter {
    text-shadow:
      0 0 5px #ff0,
      0 0 10px #fa0,
      0 0 30px #c70;
  }
}

.rainbow {
  .supporter {
    color: #fff;
    text-shadow:
      0 0 5px #000,
      -3px -2px 8px #ff0,
      0 2px 8px #f90,
      -3px -3px 8px #0f0,
      3px -3px 8px #0fc,
      5px 3px 8px #f0f,
      4px 0 8px #9ef,
      -2px 2px 8px #f00;
  }
}

em.alt {
  font-family: 'VictorMono-Oblique', monospace;
}

.styles-image {
  float: right;
  height: 20vw;
  min-height: 300px;
  max-height: 325px;
  margin: 0 0 25px 5vw;
}

.code-segment {
  background: #304148;
  transition: background 1s;
}

code {
  padding: 6px;
  font-style: normal;
  background: var(--background-color-alternate);
  border-radius: 6px;
  transition: background 1s;
}
